<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" class="fuente">Fuentes Hotel</h1>
        <p class="lead text-muted">
          Te ofrecemos el mejor servicio de habitaciones a un buen precio, pasa
          tu noche comoda, pasala bien solo en fuentes hotel.
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            autocomplete="off"
            (click)="filterNothing()"
          >
            Todos
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            autocomplete="off"
            (click)="filterDoubleRoom()"
          >
            Dobles
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            autocomplete="off"
            (click)="filterSuitRoom()"
          >
            Suits
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            autocomplete="off"
            (click)="filterBungalowsRoom()"
          >
            Bungalows Familiares
          </button>
        </div>
      </div>
      <div *ngIf="rooms.length === 0" class="row">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            style="width: 100%"
          ></div>
        </div>
      </div>

      <div *ngIf="botones === true">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="button"
              autocomplete="off"
              (click)="filteroccupied()"
            >
              Filtrar por ocupados
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="button"
              autocomplete="off"
              (click)="filterReserved()"
            >
              filtar por reservados
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="button"
              autocomplete="off"
              (click)="filterFree()"
            >
              filtrar por libres
            </button>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let room of rooms" class="col">
          <div class="card shadow-sm">
            <img
              src="{{ room.image_url }}"
              alt="room"
              width="100%"
              height="300px"
            />

            <div class="card-body">
              <p class="card-text">
                {{ room.desc_room }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div *ngFor="let reser of reservation">
                  <div
                    class="btn-group"
                    *ngIf="
                      room.room_status_id === 2 &&
                      room.id_room === reser.id_room
                    "
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      {{ reser.final_date | date: "mediumDate" }}
                    </button>
                  </div>
                </div>

                <div *ngIf="room.room_status_id === 1">
                  <button class="btn btn-danger" [disabled]="true">
                    Ocupada
                  </button>
                </div>
                <div *ngIf="room.room_status_id === 3">
                  <button class="btn btn-success">Reservar</button>
                </div>
                <small class="text-muted">{{
                  room.price | currency: "GTQ"
                }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">
      Album example is &copy; Bootstrap, but please download and customize it
      for yourself!
    </p>
    <p class="mb-0">
      New to Bootstrap? <a href="/">Visit the homepage</a> or read our
      <a href="../getting-started/introduction/">getting started guide</a>.
    </p>
  </div>
</footer>
